{% extends 'base.html' %}

{% block title %}
Singup

{% endblock title %}

{% block content %}
<div class="ui container">
    <div class="ui container">
        <h2>SignUp To Bffbook</h2>
        <div class="ui form">
            <form action="/signup" method='post'>
                <div class="field">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        placeholder="Choose a unique username" required>
                </div>
                <div class="field">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name"
                        required>
                </div>
                <div class="field">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name"
                        required>
                </div>
                <div class="field">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                        required>
                </div>
                <div class="field">
                    <label for="pass1">Choose a password</label>
                    <input type="password" class="form-control" id="pass1" name="pass1"
                        placeholder="Choose Your Password" required>
                </div>
                <div class="field">
                    <label for="pass2">Confirm Password</label>
                    <input type="password" class="form-control" id="pass2" name="pass2"
                        placeholder="Enter your password again" required>
                </div>
                {% csrf_token %}
                <button type="submit" class="ui blue button">Submit</button>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock content %}